.Header {
  a {
    text-decoration: none;
  }
  a:active, a:hover {
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0 25px;
    border: 1px solid #333;
  }
}
